.task {
  background: #363636;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #FFFFFF
}

.task.reminder {
  border-left: 5px solid green;
}

.task.nonreminder {
  border-left: 5px solid blue;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
